header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

body {
    /*    color: #333333;
        font-family: verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.12854;
        padding-top: 0px;*/
    color: #666666;
    background-color: #f9f8f6;
    /*  background-image: url("images/dark-wood.jpg");*/
    background-position: center;
    font-family: verdana, Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    margin: 0px;
    font-size: 12px

}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #c3cdc2;
}

header {
    height: 70px;
    background: #00699D;
    border: 1px solid #CCC;
    /* width:960px;*/
    margin: 0px auto;

    /* background-repeat: inherit;*/
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #3180AE); /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(255, 0, 0, 0), #3180AE); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), #3180AE); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255, 0, 0, 0), #3180AE); /*Standard*/
}

menu {
    align-self: auto;
    position: absolute;
}

h1 {
    /* text-indent: -9999px;*/
    width: 940px;
    height: 30px;
    margin: 0px;
    color: #de6581;
    font-size: 20px;
    font-family: sans-serif;
}

nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #ffffff;
}

nav li a:hover, nav li a.current {
    color: #000000;
}

section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

a {
    color: #de6581;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 100;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;
}

form fieldset {
    /*  background: #9cbc2c;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #265a88;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;

    /* margin-top: auto;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: auto;*/
}

form fieldset legend {
    background-image: url("../images/dataTables/sort_asc.png");
    background-position: 5px 1px;
    background-repeat: no-repeat;
    color: #6E6E6E;
    margin-left: 5px;
    padding-left: 25px;
    padding-right: 10px;
    font-weight: bold;
    padding-top: 1px;

}

legend {
    font-weight: normal;
    background-image: none;
    padding-left: 0px;
    padding-right: 0px;
}
/*form#payment > fieldset > legend:before {
    content: "Step " counter(fieldsets) ": ";
    counter-increment: fieldsets;
}
form#payment fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
}*/
label {
    float: left;
    font-size: 14px;
    width: 180px;
    color: #3c3c3c;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: normal;
}

.list {
    color: gray;
    width: auto;
    position: absolute;
}

.list li a {
    color: #00699D;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background-color: #f1f1f1;*/
    width: auto;

}

li {
    background-color: #DBE7EF;
    border: 1px solid;
    border-color: #FBFBFB;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none !important;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    font-size: 14px;
    font-family: "Times New Roman";
    font-style: normal;
    color: #080808;
    border-color: gray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid;

}

.form-group {
    margin-bottom: 5px;
    /* float: left;*/
    margin-top: 5px;
}

.form-group label {
    padding-top: 3px !important;
    text-align: left;
}

.form-control, .btn {
    font-size: 12px !important;
}

#resizeContainer {
    min-height: 470px;
}

#resizeBody {
    /*margin-left: 280px;*/
}

#resizeMenu {
    z-index: 10;
    height: 470px;
}

.alertify-inner li {
    font-size: 13px;
    font-weight: bold;
    list-style: none outside none;
    padding: 3px;
    text-align: center;
}

.alertify-message {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.alertify-inner p.error {
    border: none !important;
    color: red;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.alertify {
    left: 50%;
    margin-left: -275px;
    opacity: 1;
    position: fixed;
    top: 35%;
    width: 550px;
    z-index: 99999;
}

.alertify-cover {
    background-color: #000000;
    bottom: 0;
    left: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.panel-group .panel {
    border-radius: 0px 0px 0 0;
    margin-bottom: -6px;
    overflow: hidden;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px 15px;
}

.panel-menu {
    background-color: #F1F2F2;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.login {
    width: 460px;
    margin-top: 0px;
    margin-left: 255px;
    padding-left: 70px;
    height: 280px;
}

.login input[type="text"],
input[type="password"] {
    width: 288px;
    margin-left: 0px;
    padding-left: 0;
    height: 40px;
    margin-bottom: 20px;
}

footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
    background: #aed6f1; /* For browsers that do not support gradients */
    height: 70px;

}

.v-no-padding {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}